/* .containerBac {
    width: 100%;
    background-image: url('../../Imgae/flowers.png');
 } */
.container  {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,32.66%);
    grid-template-rows: repeat(3,300px);
    grid-row-gap: 2%;
    grid-column-gap: 1%;
    padding-bottom: 4rem;
    /* line-height: 300px; */
    background-image: url(https://yssimage.oss-cn-hangzhou.aliyuncs.com/bg9.jpg);
}
.item {
    font-size: 1em;
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    color: white;
    .itemTop {
        width: 100%;
        height: 0%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0%;
        z-index: -1;
        opacity: 0;
        transition: all .5s ease-out;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .itemBottom {
        width: 100%;
        height: 0%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        bottom: 0%;
        z-index: -1;
        opacity: 0;
        transition: all .5s ease-out;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .round {
    //     position: absolute;
    //     width: 2em;
    //     height: 2em;
    //     border-radius: 50%;
    //     border: 1px solid red;
    //     top: 0;
    // }
    &:hover {
        color: black;
        .itemTop {
            height: 50%;
            opacity: 1;
            z-index: 1;
        }
        .itemBottom {
            height: 50%;
            opacity: 1;
            z-index: 1;
        }
    }
}
.headerImg{
    width: 100%;
    height: 100vh;
    position: relative;
    .headerH1 {
        color: white;
        cursor: pointer;
        display: inline-block;
        &:hover {
            color: skyblue;
        }
    }
}
.headerImg img{
    width: 100%;
    height: 100%;
}