.iconfontStyle {
    margin: 0 1em;
    cursor: pointer;
}
.iconTextareaStyle {
    box-sizing: border-box;
    border: 1px solid #999999;
    width: 100%;
    padding: .5em;
}
.iconTextareaStyleFoucs {
    box-shadow: 0px 0px 1px 1px #409eff;
    border-color: #409eff;
    box-sizing: border-box;
    padding: '.5em';
    width: '100%';
}
.spanStrong {
    font-weight: bold;
}
.spanI {
    font-style: oblique;
}