.recordContainer {
    padding: 5vh 5vw;
    // min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    &::after {
        content:"";
        background-image:url('../../Image/48.jpg');
        opacity:0.5;
        top:0;
        left:0;
        bottom:0;
        right:0;
        position:absolute;
        z-index: -1;
    }
    .recordBox {
        width: 4em;
        height: 4em;
        position: absolute;
        top: 1em;
        right: 2em;
        cursor: pointer;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3);
        .recordBlock {
            display: none;
            width: 100%;
            height: 100%;
            ul {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-around;
                li {
                    width: 1.6em;
                    height: 1.6em;
                    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
                }
            }
        }
        .recordList {
            width: 100%;
            height: 100%;
            ul {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-around;
                li {
                    width: 3.2em;
                    height: 1.3em;
                    border-bottom: 1px solid #b8b6b6;
                    span {
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        border: 1px solid #b8b6b6;
                    }
                }
            }
        }
    }
    .photoContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .recordPhoto {
            width: 16vw;
            height: 44vh;
            padding: 3vh 1vh;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.5);
            background-color: #ffffff;
            div {
                width: 100%;
                height: 80%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                img {
                    width: 32%;
                    height: 32%;
                }
            }
            p {
                margin: 3vh 0;
                text-overflow: -o-ellipsis-lastline;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .icon-suolian-copy {
                position: absolute;
                top: -2vh;
                left: -1vw;
                font-size: 30px;
                color: #666666;
            }
        }
    }
}