/*
 * @Author: houxiaoling 
 * @Date: 2020-05-08 14:15:17 
 * @Last Modified by: Litao
 * @Last Modified time: 2020-07-21 15:09:04
 * @Description: 公共样式清除
 */

/* 公共样式清除 */
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: '楷体';
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
  }
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
img {
    border: none;
}

.w1000 {
    max-width: 1000px!important;
    margin: 0 auto;
}

.layui-breadcrumb {
    visibility: hidden;
    font-size: 0;
}
.layui-breadcrumb>* {
    font-size: 14px;
}
.layui-breadcrumb a {
    color: #999!important;
}