.detailContainer{
    width: 80%;
    margin: 0 auto;
}


.myEditor {
    .myEditorTop {
        height: 2em;
        background-color: #f1f1f1;
        border: 1px solid #d9d9d9;
        border-bottom: none;
        display: flex;
        align-items: center;
        padding: 0 1em;
    }
}